
body, html {
  height: 100%;
  box-sizing: border-box;

}

.bg-image {
  background-image: url("images\portfolioPIC.jpeg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  
  color: darkred;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  margin: 10;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow:visible;
  width: 100%;
  padding-left: 25%;
  float: right;
  margin: 2%;
}

.topnav a {
  float: right;
  color:darkred;
  text-align: right;
  padding: 14px;
  font-size: 25px;
}

.topnav a:hover {
  background-color:  white;
}
.navbar{
  display: flex;
}





